<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5UoS8ozKopLEo8hJ4tLadOkTvUaa8hKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>869374746417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wizeline.panamexicans</string>
	<key>PROJECT_ID</key>
	<string>pan-amexicans</string>
	<key>STORAGE_BUCKET</key>
	<string>pan-amexicans.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869374746417:ios:278662150d98185836da10</string>
</dict>
</plist>